* text=auto
app/src/main/cpp/bzip2/* -whitespace
third_party/bzip2-LICENSE -whitespace
gradlew text eol=lf
*.bat text eol=crlf
*.sh text eol=lf
*.jar binary
*.keystore binary
*.png binary
*.ttf binary
*.woff binary
*.woff2 binary
